services:
  nginx:
    container_name: sample-laravel-nginx
    image: nginx:latest
    ports:
      - "8080:80"
    restart: unless-stopped
    volumes:
      - ./.docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - sample-laravel-network
    extra_hosts:
      - host.docker.internal:host-gateway

  app:
    container_name: sample-laravel-app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    restart: unless-stopped
    volumes:
      - ./:/var/www/html
      - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - mysql
      - redis
    networks:
      - sample-laravel-network
    extra_hosts:
      - host.docker.internal:host-gateway

  mysql:
    container_name: sample-laravel-mysql
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - sample-laravel-network

  redis:
    container_name: sample-laravel-redis
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data
    networks:
      - sample-laravel-network

networks:
  sample-laravel-network:
    driver: bridge

volumes:
  mysql-data:
    driver: local
  redis-data:
    driver: local
